<div class="collection-container container fade-in">
  <aside class="filters-sidebar" [class.open]="isFilterOpen()">
    <form [formGroup]="filterForm" class="filters-form">
    </form>
  </aside>

  <main class="product-grid-container">
    <div class="mobile-filter-header">
      <button (click)="toggleFilter()">
        {{ isFilterOpen() ? 'Fermer les filtres' : 'Filtrer' }}
      </button>
      <p>Pertinence</p>
    </div>
    <div class="product-grid">
      @for(product of filteredProducts(); track product.id) {
        <a [routerLink]="['/produit', product.slug]" class="product-card">
          <img [src]="product.image" [alt]="product.name">
          <div class="product-info">
            <span class="product-name">{{ product.name }}</span>
            <span class="product-price">{{ product.price | formatFcfa }}</span>
          </div>
        </a>
      } @empty {
        <p class="no-results">Aucun produit ne correspond à votre sélection.</p>
      }
    </div>
  </main>
</div>
