.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

.content {
  width: 100%;
  max-width: 500px;
}

.content h2 {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.content p {
  color: var(--sand);
  margin-bottom: 48px;
}

.form-group {
  margin-bottom: 24px;
}

input, textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--gray-dark);
  color: var(--white);
  padding: 16px 0;
  font-family: var(--font-body);
  font-size: 1rem;
}

input:focus, textarea:focus {
  outline: none;
  border-bottom-color: var(--white);
}

textarea {
  resize: vertical;
}

.submit-button {
  width: 100%;
  padding: 16px;
  background-color: var(--gray-dark);
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  border: 1px solid var(--gray-dark);
}

.success-message {
  font-size: 1.25rem;
  color: var(--white);
}
